.hero-section-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets//images//TravelPulse\ \(4\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../assets//images//TravelPulse\ \(7\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../assets//images//TravelPulse\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../assets//images//TravelPulse\ \(8\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
